h1 {
  color: #2ac42d;
}
p {
  color: #5588ff;
}
button {
  background-color: #2ac42d;
  color: white;
}
body{
<<<<<<< HEAD
	width: 0 auto;
	background: green;
}

h2{
	font-size: 16px;
}
body div{
	font-size: 10px;
}